@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  height: 22px; 
  width: 22px; 
  border-radius: 50%;
  background: #FF6E14; 
  cursor: pointer; 
  border: 4px solid white; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.animate-in { 
  animation: fadeIn 0.3s ease-out forwards; 
}

@keyframes fadeIn { 
  from { opacity: 0; } 
  to { opacity: 1; } 
}